body
  background-color: #ebeeda

header
  height: 300px
  background-color: #242e2e
  background-size:  cover
  padding-top: 75px


  .logo
    margin: 0 auto
    text-align: center
    width: 250px
    height: 250px
    background-color: #242e2e
    border-radius: 50%
    +transition()

  .logo:hover
    +transform(scale(1.2))

    .tag
      padding-right: 10px
      width: inherit
      height: inherit
